@use "./typograpgy" as *;
@use "./variable" as *;
@use "./mixins" as *;

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Avenir", serif, sans-serif;
  background-color: $secondary-color-darkblack;
}

.header-container {
  background-color: $secondary-color-darkblack;
  padding:16px;

  &__nav {
    display: flex;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logoname {
    color: $primary-color-white;
    font-size: 2rem;
  }

  &__input {
    height: 50px;
    font-size: 1.2rem;
    padding: 0 16px;
    border: 1px solid $primary-color-silver;
    background-color: $secondary-color-alabaster;
    border-radius: 5px;
    font-family: "Avenir";
  }

  &__input:focus {
    outline: none !important;
    border: 1px solid $primary-color-black;
  }

  &__input::placeholder{
    font-family: "Avenir";
    font-size: 1.3rem;
    color: $primary-color-black;
  }

  &__button {
    height: 52px;
    margin: 0 16px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid $primary-color-silver;
  }

  &__img {
    height: 35px;
  }


  &__divider {
    border: 1px solid white ;
  }
}



